/* PŘEDNASTAVENÍ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1C1616;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

img { 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1,
h2,
p,
a {
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.yellow {
    color: #F3A424;
}

.logo {
    width: 150px;
    height: auto;
}

.text {
    font-size: 24px;
    font-weight: 500;
}

.t22 p,
.t23 p,
.t24 a {
    font-size: 18px;
    font-weight: 500;
}



/* Kurzor */
#mouse-circle {
    position: absolute;
    width: 5px;
    height: 5px;
    margin: -2.5px 0 0 -2.5px;
    border: 6px solid #237AA0;
    background-color: #237aa0;
    border-radius: 50%;
    pointer-events: none;
    z-index: 5;
}


/*Odkazy*/
.line {
    border-bottom: 1px solid #f3a42400;

    transition: 0.5s;
}

.line:hover {
    border-bottom: 1px solid #F3A424;

    transition: 0.5s;
}

/*PRELOADER*/
.gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: white;
    filter: contrast(20);
    border-radius: 30px;
}

.dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
}

@keyframes dot {
    50% {
        transform: translateX(96px)
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px)
    }
}


/*RESPONZIVITA 1*/
@media screen and (min-width: 1385px) {


    /* NAVIGACE */
    .gray {
        width: 100%;
        height: 94px;
        background-color: #353535;
        position: relative;
        z-index: 1;
    }

    .lnj {
        width: 100%;
        position: absolute;
        top: 1.2vh;
        left: 0px;
        z-index: 2;
    }

    .vrch {
        margin-right: 35vw;
        margin-left: 2.8%;
    }

    .nav {
        font-family: 'Dosis', sans-serif;
        font-size: x-large;
        text-decoration: none;
        position: relative;
        color: #fefefe;
    }

    .prv {
        z-index: 2;
        top: -4.5vh;
        margin-left: 5%;
    }

    .nav::before {
        content: '';
        background-color: #F3A424;
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 4px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    .nav:hover::before {
        bottom: 0;
        height: 100%;
    }



    /* PRVNÍ ČÁST */
    .theme {
        width: 75px;
        height: 75px;
        position: absolute;
        top: 120px;
        right: 20px;
        z-index: 3;
    }

    .c10 {
        width: 850px;
        height: 600px;
        position: absolute;
        top: 130px;
        left: 20px;
        z-index: 1;
    }

    .ap {
        width: 17%;
        position: absolute;
        top: 130px;
        left: 290px;
        z-index: 2;
    }

    .c11 {
        width: 295px;
        height: 180px;
        position: absolute;
        top: 130px;
        right: 400px;
        z-index: 1;
    }

    .c12 {
        width: 420px;
        height: 350px;
        position: absolute;
        top: 240px;
        right: 70px;
        z-index: 1;
    }

    .c13 {
        width: 450px;
        position: absolute;
        top: 425px;
        right: 270px;
        z-index: 1;
    }

    .a11 {
        width: 150px;
        position: absolute;
        top: 100px;
        right: 200px;
        z-index: 1;
    }

    .a12 {
        width: 150px;
        position: absolute;
        top: 480px;
        right: 130px;
    }

    .t11 {
        position: absolute;
        top: 160px;
        right: 440px;
        z-index: 2;
    }

    .t12 {
        position: absolute;
        top: 365px;
        right: 200px;
        z-index: 2;
    }

    .t13 {
        text-align: end;
        position: absolute;
        top: 555px;
        right: 360px;
        z-index: 2;
    }



    /* DRUHÁ ČÁST */
    .poz {
        width: 100%;
        height: 830px;
        position: absolute;
        top: 840px;
        background-color: #353535;
        z-index: 1;
    }

    .t21 {
        position: absolute;
        top: 940px;
        right: 620px;
        z-index: 3;
    }

    .t22 {
        position: absolute;
        top: 1130px;
        right: 1020px;
        text-align: center;
        z-index: 3;
    }

    .t23 {
        text-align: center;
        position: absolute;
        top: 1140px;
        right: 310px;
        z-index: 3;
    }

    .t24 {
        text-align: center;
        position: absolute;
        top: 1340px;
        right: 635px;
        z-index: 3;
    }

    .c21 {
        width: 350px;
        position: absolute;
        top: 1040px;
        right: 970px;
        z-index: 2;
        animation: blob1 12.8s ease-in-out infinite;
    }

    .c22 {
        width: 350px;
        position: absolute;
        top: 1240px;
        right: 580px;
        z-index: 2;
        animation: blob2 12.25s ease-in-out infinite;
    }

    .c23 {
        width: 350px;
        position: absolute;
        top: 1040px;
        right: 205px;
        z-index: 2;
        animation: blob3 11.9s ease-in-out infinite;
    }

    @keyframes blob1 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.067);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes blob2 {
        0% {
            transform: scale(1.068);
        }

        50% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.068);
        }
    }

    @keyframes blob3 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.069);
        }

        100% {
            transform: scale(1);
        }
    }



    /* TŘETÍ ČÁST */
    .t30 {
        text-align: center;
        z-index: 2;
        position: absolute;
        top: 1800px;
        right: 645px;
    }

    .r31 {
        width: 550px;
        position: absolute;
        top: 1950px;
        z-index: 1;
    }

    .r32 {
        width: 550px;
        position: absolute;
        top: 2215px;
        right: 0px;
        z-index: 1;
    }

    .r33 {
        width: 550px;
        position: absolute;
        top: 2450px;
        z-index: 1;
    }

    .t31 {
        z-index: 2;
        position: absolute;
        top: 2010px;
        left: 250px;
    }

    .t32 {
        z-index: 2;
        position: absolute;
        top: 2265px;
        right: 220px;
    }

    .t33 {
        z-index: 2;
        position: absolute;
        top: 2510px;
        left: 250px;
    }

    .text {
        position: relative;
        top: -65px;
    }



    /* ČTVRTÁ ČÁST */
    .po {
        width: 100%;
        height: 415px;
        z-index: 1;
        position: absolute;
        top: 2900px;
        background-color: #353535;
    }

    .c41 {
        width: 500px;
        height: 320px;
        position: absolute;
        top: 2900.5px;
        z-index: 2;
    }

    .t41 {
        color: #1C1616;
        position: absolute;
        top: 2970px;
        left: 75px;
        z-index: 3;
    }

    .t42 {
        color: #1C1616;
        position: absolute;
        top: 3050px;
        left: 105px;
        z-index: 3;
    }

    .l41 {
        width: 30px;
        position: absolute;
        top: 3090px;
        left: 185px;
        z-index: 2;
    }

    .handwriting {
        font-family: 'Sacramento', cursive;
        position: absolute;
        top: 3250px;
        left: 610px;
        z-index: 3;
    }

    .dru {
        z-index: 2;
        top: -4.5vh;
        margin-left: 5%;
    }

    .lnjd {
        width: 600px;
        position: absolute;
        top: 3000px;
        right: 0px;
    }

    .logod {
        position: absolute;
        top: 3220px;
        right: 200px;
        z-index: 2;
    }

    .chclogo {
        width: 90px;
        height: auto;
        position: absolute;
        top: 3240px;
        right: 80px;
        z-index: 2;
    }
}





/*RESPONZIVITA 2*/
@media screen and (max-width: 1385px) {

    /* NAVIGACE */
    .gray {
        width: 100%;
        height: 94px;
        background-color: #353535;
        position: relative;
        z-index: 1;
    }

    .lnj {
        width: 100%;
        position: absolute;
        top: 1.2vh;
        left: 0px;
        z-index: 2;
    }

    .vrch {
        margin-right: 15vw;
        margin-left: 2.8%;
    }

    .nav {
        font-family: 'Dosis', sans-serif;
        font-size: x-large;
        text-decoration: none;
        position: relative;
        color: #fefefe;
    }

    .prv {
        z-index: 2;
        top: -4.5vh;
        margin-left: 5%;
    }

    .nav::before {
        content: '';
        background-color: #F3A424;
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 4px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    .nav:hover::before {
        bottom: 0;
        height: 100%;
    }



    /* PRVNÍ ČÁST */
    .theme {
        width: 75px;
        height: 75px;
        position: absolute;
        top: 120px;
        right: 20px;
        z-index: 3;
    }

    .c10 {
        width: 650px;
        height: 400px;
        position: absolute;
        top: 140px;
        left: 20px;
        z-index: 1;
    }

    .ap {
        width: 210px;
        position: absolute;
        top: 130px;
        left: 290px;
        z-index: 2;
    }

    .c11 {
        width: 245px;
        height: 150px;
        position: absolute;
        top: 120px;
        left: 550px;
        z-index: 1;
    }

    .c12 {
        width: 270px;
        height: 270px;
        position: absolute;
        top: 230px;
        left: 650px;
        z-index: 1;
    }

    .c13 {
        width: 350px;
        height: 272;
        position: absolute;
        top: 360px;
        left: 430px;
        z-index: 1;
    }

    .a11,
    .a12 {
        visibility: hidden;
    }

    .t11 {
        position: absolute;
        top: 140px;
        left: 600px;
        z-index: 2;
    }

    .t12 {
        position: absolute;
        top: 320px;
        left: 695px;
        z-index: 2;
    }

    .t13 {
        text-align: end;
        position: absolute;
        top: 447px;
        left: 500px;
        z-index: 2;
    }



    /* DRUHÁ ČÁST */
    .poz {
        width: 100%;
        height: 830px;
        position: absolute;
        top: 640px;
        background-color: #353535;
        z-index: 1;
    }

    .t21 {
        position: absolute;
        top: 740px;
        left: 350px;
        z-index: 3;
    }

    .t22 {
        position: absolute;
        top: 900px;
        left: 115px;
        text-align: center;
        z-index: 3;
    }

    .t23 {
        text-align: center;
        position: absolute;
        top: 1110px;
        left: 425px;
        z-index: 3;
    }

    .t24 {
        text-align: center;
        position: absolute;
        top: 910px;
        left: 630px;
        z-index: 3;
    }

    .c21 {
        width: 350px;
        position: absolute;
        top: 820px;
        left: 50px;
        z-index: 2;
        animation: blob1 12.8s ease-in-out infinite;
    }

    .c22 {
        width: 350px;
        position: absolute;
        top: 1000px;
        left: 320px;
        z-index: 2;
        animation: blob2 12.25s ease-in-out infinite;
    }

    .c23 {
        width: 350px;
        position: absolute;
        top: 820px;
        left: 580px;
        z-index: 2;
        animation: blob3 11.9s ease-in-out infinite;
    }

    @keyframes blob1 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.067);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes blob2 {
        0% {
            transform: scale(1.068);
        }

        50% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.068);
        }
    }

    @keyframes blob3 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.069);
        }

        100% {
            transform: scale(1);
        }
    }



    /* TŘETÍ ČÁST */
    .t30 {
        text-align: center;
        z-index: 2;
        position: absolute;
        top: 1570px;
        left: 350px;
    }

    .r31 {
        width: 550px;
        position: absolute;
        top: 1700px;
        z-index: 1;
    }

    .r32 {
        width: 550px;
        position: absolute;
        top: 1980px;
        right: 0px;
        z-index: 1;
    }

    .r33 {
        width: 550px;
        position: absolute;
        top: 2238px;
        z-index: 1;
    }

    .t31 {
        z-index: 2;
        position: absolute;
        top: 1760px;
        left: 250px;
    }

    .t32 {
        z-index: 2;
        position: absolute;
        top: 2030px;
        right: 220px;
    }

    .t33 {
        z-index: 2;
        position: absolute;
        top: 2300px;
        left: 250px;
    }

    .text {
        position: relative;
        top: -65px;
    }



    /* ČTVRTÁ ČÁST */
    .po {
        width: 100%;
        height: 415px;
        z-index: 1;
        position: absolute;
        top: 2600px;
        background-color: #353535;
    }

    .c41 {
        width: 500px;
        height: 320px;
        position: absolute;
        top: 2600.5px;
        z-index: 2;
    }

    .t41 {
        color: #1C1616;
        position: absolute;
        top: 2670px;
        left: 75px;
        z-index: 3;
    }

    .t42 {
        color: #1C1616;
        position: absolute;
        top: 2750px;
        left: 105px;
        z-index: 3;
    }

    .l41 {
        width: 30px;
        position: absolute;
        top: 2790px;
        left: 185px;
        z-index: 2;
    }

    .handwriting {
        font-family: 'Sacramento', cursive;
        position: absolute;
        top: 2942px;
        left: 350px;
        z-index: 3;
    }

    .dru {
        font-size: large;
        z-index: 2;
        top: -4.5vh;
        margin-left: 5%;
    }

    .lnjd {
        width: 500px;
        position: absolute;
        top: 2670px;
        right: -90px;
        margin: 0;
    }

    .logod {
        position: absolute;
        top: 2920px;
        right: 11vw;
        z-index: 2;
    }

    .chclogo {
        width: 90px;
        height: auto;
        position: absolute;
        top: 2940px;
        right: 1vw;
        z-index: 2;
    }
}





/*RESPONZIVITA 3*/
@media screen and (max-width: 970px) {

    /* NAVIGACE */
    .gray {
        width: 100%;
        height: 94px;
        background-color: #353535;
        position: relative;
        z-index: 1;
    }

    .lnj {
        width: 100%;
        position: absolute;
        top: 1.2vh;
        left: 0px;
        z-index: 2;
    }

    .vrch {
        margin-right: 2vw;
        margin-left: 2%;
    }

    .nav {
        font-family: 'Dosis', sans-serif;
        font-size: x-large;
        text-decoration: none;
        position: relative;
        color: #fefefe;
    }

    .prv {
        z-index: 2;
        top: -4.5vh;
        margin-left: 5%;
    }

    .nav::before {
        content: '';
        background-color: #F3A424;
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 4px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    .nav:hover::before {
        bottom: 0;
        height: 100%;
    }



    /* PRVNÍ ČÁST */
    .theme {
        width: 75px;
        height: 75px;
        position: absolute;
        top: 120px;
        right: 20px;
        z-index: 3;
    }

    .c10 {
        width: 650px;
        height: 400px;
        position: absolute;
        top: 140px;
        left: 20px;
        z-index: 1;
        visibility: hidden;
    }

    .ap {
        width: 210px;
        position: absolute;
        top: 100px;
        left: 110px;
        z-index: 2;
    }

    .c11 {
        width: 245px;
        height: 150px;
        position: absolute;
        top: 120px;
        left: 300px;
        z-index: 1;
    }

    .c12 {
        width: 320px;
        height: 280px;
        position: absolute;
        top: 230px;
        left: 300px;
        z-index: 1;
    }

    .c13 {
        width: 350px;
        height: 272;
        position: absolute;
        top: 370px;
        left: 260px;
        z-index: 1;
    }

    .a11,
    .a12 {
        visibility: hidden;
    }

    .t11 {
        position: absolute;
        top: 140px;
        left: 350px;
        z-index: 2;
    }

    .t12 {
        position: absolute;
        top: 320px;
        left: 365px;
        z-index: 2;
    }

    .t13 {
        text-align: end;
        position: absolute;
        top: 457px;
        left: 330px;
        z-index: 2;
    }



    /* DRUHÁ ČÁST */
    .poz {
        width: 100%;
        height: 830px;
        position: absolute;
        top: 640px;
        background-color: #353535;
        z-index: 1;
    }

    .t21 {
        position: absolute;
        top: 740px;
        left: 220px;
        z-index: 3;
    }

    .t22 {
        position: absolute;
        top: 900px;
        left: 65px;
        text-align: center;
        z-index: 3;
    }

    .t23 {
        text-align: center;
        position: absolute;
        top: 1210px;
        left: 295px;
        z-index: 3;
    }

    .t24 {
        text-align: center;
        position: absolute;
        top: 910px;
        left: 430px;
        z-index: 3;
    }

    .c21 {
        width: 350px;
        position: absolute;
        top: 820px;
        left: 1px;
        z-index: 2;
        animation: blob1 12.8s ease-in-out infinite;
    }

    .c22 {
        width: 350px;
        position: absolute;
        top: 1100px;
        left: 190px;
        z-index: 2;
        animation: blob2 12.25s ease-in-out infinite;
    }

    .c23 {
        width: 350px;
        position: absolute;
        top: 820px;
        left: 380px;
        z-index: 2;
        animation: blob3 11.9s ease-in-out infinite;
    }

    @keyframes blob1 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.067);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes blob2 {
        0% {
            transform: scale(1.068);
        }

        50% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.068);
        }
    }

    @keyframes blob3 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.069);
        }

        100% {
            transform: scale(1);
        }
    }



    /* TŘETÍ ČÁST */
    .t30 {
        text-align: center;
        z-index: 2;
        position: absolute;
        top: 1570px;
        left: 250px;
    }

    .r31 {
        width: 550px;
        height: 275px;
        position: absolute;
        top: 1700px;
        left: -200px;
        z-index: 1;
    }

    .r32 {
        width: 550px;
        position: absolute;
        top: 1980px;
        right: -200px;
        z-index: 1;
    }

    .r33 {
        width: 550px;
        position: absolute;
        top: 2238px;
        left: -200px;
        z-index: 1;
    }

    .t31 {
        z-index: 2;
        position: absolute;
        top: 1760px;
        left: 50px;
    }

    .t32 {
        z-index: 2;
        position: absolute;
        top: 2030px;
        right: 20px;
    }

    .t33 {
        z-index: 2;
        position: absolute;
        top: 2300px;
        left: 50px;
    }

    .text {
        position: relative;
        top: -65px;
    }



    /* ČTVRTÁ ČÁST */
    .po {
        width: 100%;
        height: 415px;
        z-index: 1;
        position: absolute;
        top: 2600px;
        background-color: #353535;
    }

    .c41 {
        width: 500px;
        height: 320px;
        position: absolute;
        top: 2600.5px;
        z-index: 2;
    }

    .t41 {
        color: #1C1616;
        position: absolute;
        top: 2670px;
        left: 75px;
        z-index: 3;
    }

    .t42 {
        color: #1C1616;
        position: absolute;
        top: 2750px;
        left: 105px;
        z-index: 3;
    }

    .l41 {
        width: 30px;
        position: absolute;
        top: 2790px;
        left: 185px;
        z-index: 2;
    }

    .handwriting {
        font-family: 'Sacramento', cursive;
        position: absolute;
        top: 2942px;
        left: 200px;
        z-index: 3;
    }

    .dru {
        font-size: large;
        z-index: 2;
        top: -4.5vh;
        margin-left: 5%;
        visibility: hidden;
    }

    .lnjd {
        width: 500px;
        position: absolute;
        top: 2670px;
        right: -90px;
        margin: 0;
        visibility: hidden;
    }

    .logod {
        position: absolute;
        top: 2920px;
        right: 14vw;
        z-index: 2;
    }

    .chclogo {
        width: 90px;
        height: auto;
        position: absolute;
        top: 2940px;
        right: 1vw;
        z-index: 2;
    }
}





/*RESPONZIVITA 4*/
@media screen and (max-width: 760px) {

    /* NAVIGACE */
    .gray {
        width: 100%;
        height: 94px;
        background-color: #353535;
        position: relative;
        z-index: 1;
    }

    .lnj {
        width: 150%;
        position: absolute;
        top: 1.2vh;
        left: -175px;
        z-index: 2;
    }

    .vrch {
        margin-right: 0vw;
        margin-left: 0%;
        visibility: hidden;
    }

    .nav {
        font-family: 'Dosis', sans-serif;
        font-size: x-large;
        text-decoration: none;
        position: relative;
        color: #fefefe;
    }

    .prv {
        z-index: 2;
        top: -4.5vh;
        margin-left: 3%;
    }

    .nav::before {
        content: '';
        background-color: #F3A424;
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 4px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    .nav:hover::before {
        bottom: 0;
        height: 100%;
    }



    /* PRVNÍ ČÁST */
    .theme {
        width: 75px;
        height: 75px;
        position: absolute;
        top: 120px;
        right: 20px;
        z-index: 3;
    }

    .c10 {
        width: 650px;
        height: 400px;
        position: absolute;
        top: 140px;
        left: 20px;
        z-index: 1;
        visibility: hidden;
    }

    .ap {
        width: 210px;
        position: absolute;
        top: 110px;
        left: -11px;
        z-index: 2;
    }

    .c11 {
        width: 245px;
        height: 150px;
        position: absolute;
        top: 120px;
        left: 150px;
        z-index: 1;
    }

    .c12 {
        width: 320px;
        height: 280px;
        position: absolute;
        top: 230px;
        left: 150px;
        z-index: 1;
    }

    .c13 {
        width: 350px;
        height: 272;
        position: absolute;
        top: 370px;
        left: 120px;
        z-index: 1;
    }

    .a11,
    .a12 {
        visibility: hidden;
    }

    .t11 {
        position: absolute;
        top: 140px;
        left: 200px;
        z-index: 2;
    }

    .t12 {
        position: absolute;
        top: 320px;
        left: 215px;
        z-index: 2;
    }

    .t13 {
        text-align: end;
        position: absolute;
        top: 457px;
        left: 180px;
        z-index: 2;
    }



    /* DRUHÁ ČÁST */
    .poz {
        width: 100%;
        height: 1130px;
        position: absolute;
        top: 640px;
        background-color: #353535;
        z-index: 1;
    }

    .t21 {
        position: absolute;
        top: 740px;
        left: 120px;
        z-index: 3;
    }

    .t22 {
        position: absolute;
        top: 900px;
        left: 155px;
        text-align: center;
        z-index: 3;
    }

    .t23 {
        text-align: center;
        position: absolute;
        top: 1220px;
        left: 195px;
        z-index: 3;
    }

    .t24 {
        text-align: center;
        position: absolute;
        top: 1510px;
        left: 140px;
        z-index: 3;
    }

    .c21 {
        width: 350px;
        position: absolute;
        top: 820px;
        left: 90px;
        z-index: 2;
        animation: blob1 12.8s ease-in-out infinite;
    }

    .c22 {
        width: 350px;
        position: absolute;
        top: 1110px;
        left: 90px;
        z-index: 2;
        animation: blob2 12.25s ease-in-out infinite;
    }

    .c23 {
        width: 350px;
        position: absolute;
        top: 1420px;
        left: 90px;
        z-index: 2;
        animation: blob3 11.9s ease-in-out infinite;
    }

    @keyframes blob1 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.067);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes blob2 {
        0% {
            transform: scale(1.068);
        }

        50% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.068);
        }
    }

    @keyframes blob3 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.069);
        }

        100% {
            transform: scale(1);
        }
    }



    /* TŘETÍ ČÁST */
    .t30 {
        text-align: center;
        z-index: 2;
        position: absolute;
        top: 1800px;
        left: 100px;
    }

    .r31 {
        width: 550px;
        height: 275px;
        position: absolute;
        top: 1900px;
        left: -200px;
        z-index: 1;
    }

    .r32 {
        width: 550px;
        position: absolute;
        top: 2180px;
        right: -200px;
        z-index: 1;
    }

    .r33 {
        width: 550px;
        position: absolute;
        top: 2438px;
        left: -200px;
        z-index: 1;
    }

    .t31 {
        z-index: 2;
        position: absolute;
        top: 1960px;
        left: 50px;
    }

    .t32 {
        z-index: 2;
        position: absolute;
        top: 2230px;
        right: 20px;
    }

    .t33 {
        z-index: 2;
        position: absolute;
        top: 2500px;
        left: 50px;
    }

    .text {
        position: relative;
        top: -65px;
    }



    /* ČTVRTÁ ČÁST */
    .po {
        width: 100%;
        height: 415px;
        z-index: 1;
        position: absolute;
        top: 2800px;
        background-color: #353535;
    }

    .c41 {
        width: 440px;
        height: 290px;
        position: absolute;
        top: 2800.5px;
        z-index: 2;
    }

    .t41 {
        color: #1C1616;
        position: absolute;
        top: 2870px;
        left: 75px;
        z-index: 3;
    }

    .t42 {
        color: #1C1616;
        position: absolute;
        top: 2950px;
        left: 105px;
        z-index: 3;
    }

    .l41 {
        width: 30px;
        position: absolute;
        top: 2990px;
        left: 185px;
        z-index: 2;
    }

    .handwriting {
        font-family: 'Sacramento', cursive;
        position: absolute;
        top: 3152px;
        left: 100px;
        z-index: 3;
    }

    .dru {
        font-size: large;
        z-index: 2;
        top: -4.5vh;
        margin-left: 5%;
        visibility: hidden;
    }

    .lnjd {
        width: 500px;
        position: absolute;
        top: 2870px;
        right: -90px;
        margin: 0;
        visibility: hidden;
    }

    .logod {
        width: 100px;
        position: absolute;
        top: 3145px;
        left: 0px;
        z-index: 2;
    }

    .chclogo {
        width: 70px;
        height: auto;
        position: absolute;
        top: 3155px;
        left: 390px;
        z-index: 2;
    }
}





/*RESPONZIVITA 5*/
@media screen and (max-width: 499px) {

    /* NAVIGACE */
    .gray {
        width: 100%;
        height: 94px;
        background-color: #353535;
        position: relative;
        z-index: 1;
    }

    .lnj {
        width: 200%;
        position: absolute;
        top: 1.2vh;
        left: -175px;
        z-index: 2;
    }

    .vrch {
        margin-right: 0vw;
        margin-left: 0%;
        visibility: hidden;
    }

    .nav {
        font-family: 'Dosis', sans-serif;
        font-size: small;
        text-decoration: none;
        position: relative;
        color: #fefefe;
    }

    .prv {
        z-index: 2;
        top: -4.5vh;
        margin-left: 3%;
    }

    .nav::before {
        content: '';
        background-color: #F3A424;
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 4px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    .nav:hover::before {
        bottom: 0;
        height: 100%;
    }



    /* PRVNÍ ČÁST */
    .theme {
        width: 75px;
        height: 75px;
        position: absolute;
        top: 120px;
        right: 20px;
        z-index: 3;
    }

    .c10 {
        width: 650px;
        height: 400px;
        position: absolute;
        top: 140px;
        left: 20px;
        z-index: 1;
        visibility: hidden;
    }

    .ap {
        width: 210px;
        position: absolute;
        top: 110px;
        left: -90px;
        z-index: 2;
    }

    .c11 {
        width: 200px;
        height: 115px;
        position: absolute;
        top: 170px;
        left: 70px;
        z-index: 1;
    }

    .c12 {
        width: 280px;
        height: 240px;
        position: absolute;
        top: 250px;
        left: 70px;
        z-index: 1;
    }

    .c13 {
        width: 300px;
        height: 222;
        position: absolute;
        top: 365px;
        left: 50px;
        z-index: 1;
    }

    .a11,
    .a12 {
        visibility: hidden;
    }

    .t11 {
        position: absolute;
        top: 185px;
        left: 120px;
        z-index: 2;
        font-size: large;
    }

    .t12 {
        position: absolute;
        top: 330px;
        left: 135px;
        z-index: 2;
        font-size: large;
    }

    .t13 {
        text-align: end;
        position: absolute;
        top: 447px;
        left: 120px;
        z-index: 2;
        font-size: large;
    }



    /* DRUHÁ ČÁST */
    .poz {
        width: 100%;
        height: 1130px;
        position: absolute;
        top: 640px;
        background-color: #353535;
        z-index: 1;
    }

    .t21 {
        position: absolute;
        top: 740px;
        left: 45px;
        z-index: 3;
    }

    .t22 {
        position: absolute;
        top: 900px;
        left: 90px;
        text-align: center;
        z-index: 3;
    }

    .t23 {
        text-align: center;
        position: absolute;
        top: 1220px;
        left: 125px;
        z-index: 3;
    }

    .t24 {
        text-align: center;
        position: absolute;
        top: 1510px;
        left: 85px;
        z-index: 3;
    }

    .c21 {
        width: 350px;
        position: absolute;
        top: 820px;
        left: 5px;
        z-index: 2;
        animation: blob1 12.8s ease-in-out infinite;
    }

    .c22 {
        width: 350px;
        position: absolute;
        top: 1110px;
        left: 15px;
        z-index: 2;
        animation: blob2 12.25s ease-in-out infinite;
    }

    .c23 {
        width: 350px;
        position: absolute;
        top: 1420px;
        left: 15px;
        z-index: 2;
        animation: blob3 11.9s ease-in-out infinite;
    }

    @keyframes blob1 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.067);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes blob2 {
        0% {
            transform: scale(1.068);
        }

        50% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.068);
        }
    }

    @keyframes blob3 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.069);
        }

        100% {
            transform: scale(1);
        }
    }



    /* TŘETÍ ČÁST */
    .t30 {
        text-align: center;
        z-index: 2;
        position: absolute;
        top: 1840px;
        left: 65px;
    }

    .r31 {
        width: 584px;
        height: 254px;
        position: absolute;
        top: 1920px;
        left: -200px;
        z-index: 1;
    }

    .r32 {
        width: 684px;
        height: 254px;
        position: absolute;
        top: 2180px;
        left: -200px;
        z-index: 1;
    }

    .r33 {
        width: 584px;
        height: 254px;
        position: absolute;
        top: 2440px;
        left: -200px;
        z-index: 1;
    }

    .t31 {
        z-index: 2;
        position: absolute;
        top: 1960px;
        left: 50px;
    }

    .t32 {
        z-index: 2;
        position: absolute;
        top: 2230px;
        right: 20px;
    }

    .t33 {
        z-index: 2;
        position: absolute;
        top: 2500px;
        left: 50px;
    }

    .text {
        position: relative;
        top: -65px;
    }



    /* ČTVRTÁ ČÁST */
    .po {
        width: 100%;
        height: 315px;
        z-index: 1;
        position: absolute;
        top: 2800px;
        background-color: #353535;
    }

    .c41 {
        width: 380px;
        height: 230px;
        position: absolute;
        top: 2800.5px;
        z-index: 2;
    }

    .t41 {
        color: #1C1616;
        position: absolute;
        top: 2830px;
        left: 45px;
        z-index: 3;
    }

    .t42 {
        color: #1C1616;
        position: absolute;
        top: 2900px;
        left: 75px;
        z-index: 3;
    }

    .l41 {
        width: 30px;
        position: absolute;
        top: 2940px;
        left: 145px;
        z-index: 2;

    }

    .handwriting {
        font-family: 'Sacramento', cursive;
        position: absolute;
        top: 3052px;
        left: 5px;
        z-index: 3;
    }

    .dru {
        font-size: large;
        z-index: 2;
        top: -4.5vh;
        margin-left: 5%;
        visibility: hidden;
    }

    .lnjd {
        width: 500px;
        position: absolute;
        top: 2870px;
        right: -90px;
        margin: 0;
        visibility: hidden;
    }

    .logod {
        width: 100px;
        position: absolute;
        top: 3145px;
        left: 0px;
        z-index: 2;
        visibility: hidden;
    }

    .chclogo {
        width: 70px;
        height: auto;
        position: absolute;
        top: 3055px;
        left: 290px;
        z-index: 2;
    }
}